!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1= "You'll be pleased to know: #{ @order.first_name }"
    %p
      = "Your order : #{@order.size} #{@order.coffee_type} with #{@order.milk}"
      \.
      %br/
    %p Is now ready to be picked up, thanks for ordering with Konoha Coffee
