=simple_form_for @shop do |f|
  %h1 Edit Konoha Shop
  = f.input :street_num, placeholder: 'street number', label: false
  = f.input :street, placeholder: "street", label: false
  = f.input :suburb, placeholder: "suburb", label: false
  = f.input :state, collection: Shop::STATE, prompt: "select state", label: false
  = f.input :postcode, placeholder: "postcode", label: false
  = f.button :submit 
  
  = link_to 'Delete shop', @shop, method: :delete, data: {confirm: 'Are you sure you want to delete the shop and all the associated orders?'}