.container
  %table.table.table-condensed.table-hover
    %tr
      %h2= ('Konoha Coffee Shop Location').pluralize(@shops.count)
    - @shops.each do |shop|
      %tr
        %td= "#{shop.street_num} #{shop.street}"
        %td= shop.suburb
        %td= shop.state
        %td= shop.postcode
        %td=link_to "Place Order", new_shop_order_path(shop), class: "btn btn-default"
        -if current_user_admin?
          %td
            .btn-group-vertical
              .btn.btn-default.dropdown-toggle{"data-toggle" => "dropdown", :type => "button"}
                Shop Details
                %span.caret
              %ul.dropdown-menu
                %li
                  =link_to "Current Orders", shop_orders_path(shop), class: "btn btn-default"
                %li
                  =link_to "Completed Orders", shop_path(shop), method: :get, class: "btn btn-default"
                %li
                  =link_to "Edit Shop", edit_shop_path(shop), class: "btn btn-default"




