.container
  %h1 Konoha Coffee
  %table.table.table-sm
    %tr
      %h3 Locations
    - @shops.each do |shop|
      %tr
        %td= "#{shop.street_num} #{shop.street}"
        %td= shop.suburb
        %td= shop.state
        %td= shop.postcode
        %td=link_to "Place Order", new_shop_order_path(shop), class: "btn btn-default"
        -if current_user_admin?
          %td=link_to "Current Orders", shop_orders_path(shop), class: "btn btn-default"
          %td=link_to "Completed Orders", shop_orders_fulfilled_path(shop), class: "btn btn-default"
          %td=link_to "Edit Shop", edit_shop_path(shop), class: "btn btn-default"




