.container
  %h2 Completed Orders
  %table.table.table-condensed.table-hover
    %th Name
    %th Coffee
    %th Order completed
    %th
    %th
    - @shop.orders.completed.each do |order|
      %tr
        %td= "#{order.last_name}, #{order.first_name}"
        %td= "#{order.coffee_type} / #{order.milk} / #{order.size}"
        %td= time_ago_in_words(order.completed_at) +" ago"
        %td
          =link_to "Picked up", shop_order_paid_path(@shop, order), method: :put, class: "btn btn-default"
        %td
          =link_to "Forgotten", shop_order_forgotten_path(@shop, order), method: :put, class: "btn btn-default"

  %h2 Discarded Orders
  %table.table.table-condensed.table-hover
    %th Name
    %th Coffee
    %th Order discarded
    %th State
    %th
    - @shop.orders.discarded.each do |order|
      %tr
        %td= "#{order.last_name}, #{order.first_name}"
        %td= "#{order.coffee_type} / #{order.milk} / #{order.size}"
        %td= time_ago_in_words(order.completed_at) +" ago"
        %td= order.state
        %td
          =link_to "Remove", shop_order_path(@shop, order), method: :delete, class: "btn btn-default"


