= simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  %h1 Resend unlock instructions
  = f.error_notification
  = f.full_error :unlock_token
  = f.input :email, required: true, autofocus: true
  = f.button :submit, "Resend unlock instructions"
  = render "users/shared/links"




 