%form
  %h1= "Thank you, #{@order.name}" 

  %p Your order is being processed.
  %br
  %p= "#{@order.size} #{@order.coffee_type} with #{@order.milk}"

  %br
  %p= "You will receive an email at #{@order.email} once your order is confirmed"
  %br
  .btn
    =link_to "Place another order", shops_path


