%h1= "Thank you, #{@order.name}" 


%br Your order is being processed.
%br= @order.order

%br= "You will receive an email at #{@order.email} when your order is finished"

.btn.btn-default
  =link_to "Place another order", shops_path