%form
  %h1= "Thank you, #{@order.first_name}"

  %p Your order is being processed.
  %br
  %p= "#{@order.size} #{@order.coffee_type} with #{@order.milk}"

  %br
  %p= "You will receive an email at #{@order.email} once your order is confirmed"
  %br
  %p
    =link_to "Place another order", shops_path, method: :get, class: "btn btn-default"
    =link_to "Change order", edit_shop_order_path(@shop, @order), class: "btn btn-default"
    =link_to "Cancel order", shop_order_cancel_path(@shop, @order), class: "btn btn-default"
    =link_to "Home", shops_path, class: "btn btn-default"
