%h2 Working Orders
%table.table.table-condensed
  %th.h3 Name
  %th.h3 Coffee
  %th.h3 Time remaining
  %th.h3 Mark as completed
  %th.h3 Cancel order
  - @shop.orders.working.each do |order|
    %tr
      %td= order.first_name
      %td= "#{order.size} #{order.coffee_type} with #{order.milk}"
      - if order.estimate_time > Time.now
        %td= time_ago_in_words(order.estimate_time) 
      - else
        %td.text-danger= time_ago_in_words(order.estimate_time) +' overdue'
      %td
        =link_to "Completed", shop_order_completed_path(@shop, order), method: :put, class: "btn btn-default"
      %td   
        =link_to "Cancel", shop_order_cancel_path(@shop, order), method: :put , class: "btn btn-default"

%h2 New Orders
%table.table.table-condensed 
  %th.h3 Name
  %th.h3 Coffee
  %th.h3 Order placed
  %th.h3 Estimated pickup time
  %th.h3 Reject order
  - @shop.orders.new_orders.each do |order|
    %tr 
      %td= order.first_name
      %td= "#{order.coffee_type} / #{order.milk} / #{order.size}"
      %td= time_ago_in_words(order.created_at) +" ago"
      %td
        =link_to "3 min", shop_order_estimated_path(@shop, order, estimate: 3), method: :put, class: "btn"
        =link_to "5 min", shop_order_estimated_path(@shop, order, estimate: 5), method: :put, class: "btn"
        =link_to "10 min", shop_order_estimated_path(@shop, order, estimate: 10), method: :put, class: "btn"
      %td
        =link_to "Reject", shop_order_reject_path(@shop, order), method: :put, class: "btn btn-default"

