%h1 Coffee Orders

%form
= form_for [@shop, @order] do |f|
  .form-group
    = f.label :name 
    = f.text_field :name, size: 40, autofocus: true 
  .form-group
    = f.label :email
    = f.text_field :email, size: 40
  .form-group
    = f.label :order  
    = f.text_area :order, col: 40, rows:3
  %p
    = f.submit


