<h1>Coffee Orders</h1>

<%= form_for @order do |f| %>
  <fieldset>
    <ol>
      <li>
        <%= f.label :name %>
        <%= f.text_field :name, autofocus: true %>
      </li>
      <li>
        <%= f.label :email %>
        <%= f.text_field :email %>
      </li>
      <li>
        <%= f.label :order %>
        <%= f.text_area :order %>
      </li>
     
    </ol>
    <p>
      <%= f.submit %>
    </p>
  </fieldset>
<% end %>